div{
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 500px;
    
}
.top h3{
    width: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.top input{
    width: 400px;
    padding: 15px;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid lightgray;
    font-size: 16px;
}
.center .first{
    width: 150px;
    float: left;
    margin-top: 2px;
    padding-left: 20px;
    padding-right: 80px;
    
}
.center .last{
    width: 100px;
    margin-top: 2px;
    float: left;
    
}
.center .input-name1{
    margin-left: 20px;
    clear:both;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid lightgray;


}
.center .input-name2{
    clear: both;
    margin-left: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid lightgray;
}
.bottom h3{
    width: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.bottom input[type=text] {
    width: 400px;
    padding-left: 20px;
    height: 100px;
    margin-left: 20px;
    border-radius: 8px;
    display: block;
    border: 2px solid lightgray;
}
.bottom .check{
    width: 20px;
    margin: 20px 0px 20px 20px;
}
.bottom button{
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 210px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.ex{
    color: yellow;
}