.product-container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-container div{
        float: left;
        width: 25%;
        text-align: center;
}

@media screen and (max-width: 1200px) {
    .main-title{
        font-size: 30px;
    }
    .product-container div{
        width: 50%;
    }
    .product-container{
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .main-title{
        font-size: 20px;
    }
    .product-container div{
        width: 10 0%;
    }
}